
.containerApp{
    background-image: url("../assets/VICHY02_05\ Cel.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    width: 80%;
    height: 100vh;
    margin:auto;   
}
.containerHome{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    justify-items: center;
    height: 65%;
}
.containerHome img{
    width: 18rem;
    display: block;
    margin: 6rem auto 0 auto;
}

h2{
    margin-top: 1.8rem;
}

.btn1{
    background-color: #FFD90F;
    width: 15rem;
    height: 3.2rem;
    border-radius: 20px;
    border: none;
    font-family: "gothamMedium";
    font-size: 5rem;
    text-align: center;
    color: #000000;
    cursor: pointer;
    transition: 0.5s;
}
.btn1:hover{
    box-shadow: 6px 6px 5px 2px rgba(0,0,0,0.71);
    -webkit-box-shadow: 6px 6px 5px 2px rgba(0,0,0,0.71);
    -moz-box-shadow: 6px 6px 5px 2px rgba(0,0,0,0.71);
    transition: 0.2s ease-in-out;
}

@media (min-width: 768px){
    .containerApp{
        background-image: url("../assets/bg9.png");
    }
    .container{
        width: 35%;
        margin:auto;   
    }
    .containerHome img{
        width: 20rem;
        display: block;
        margin: 6rem auto 3rem auto;
    }
    .btn1{
        font-size: 2rem;
        width: 15rem;
    }
    .containerHome{
        height: 75%;
    }
}

.containerBorder{
    height: 65%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.4);
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}