.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200, 0.8);

    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    left: 0;
    top: 0;
  }
  
  .modalContainer {
    width: 300px;
    height: 400px;
    border-radius: 12px;
    background-image: url("../assets/Bases\ Y\ condiciones.png");
    background-size: 400px auto;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  
  .modalContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  
  .modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
  }
  
  .modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: 0.5px solid #A91515;
    border-radius: 10px;
    background-color:#ffffff;
    color: white;
    font-size: 20px;
    cursor: pointer;
    color: #000000;
    transition: 0.3s;
  }
  
  #cancelBtn {
    background-color: #A91515;
    transition: 0.3s;
  }
  #cancelBtn:hover{
    border: 0.5px solid #A91515;
    background-color:#ffffff;
  }

  .modalContainer .footer button:hover{
    background-color: #A91515;
  }

