html {
  font-size: 62.5%;
  height: 100%;
 
}

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "gothamMedium";
  src: url('./assets/fonts/BarlowCondensed-Medium.ttf');
}
@font-face {
  font-family: "gothamLight";
  src: url('./assets/fonts/Roboto-Light.ttf');
}
h1{
  font-family: "gothamMedium";
  font-size: 15pt;
  text-align: center;
  color: #ffffff;
}

.logoVm{
  font-size: 6rem;
  opacity: 0.5;
  margin-top: 8rem;
  cursor: pointer;
}
h1 span{
  color: #FFD90F;
}

h2{
  font-family: "gothamLight";
  font-size: 16pt;
  text-align: center;
  font-weight: lighter;

}
button{
  font-family: "gothamMedium";

}
p{
  font-family: "gothamLight";
  font-size: 12pt;
  text-align: center;
  font-weight: lighter;
}


@media (min-width: 768px){
  h1{
    font-size: 3.5rem;
  }
  h2{
    font-size: 18pt;
  }
}