html {
  font-size: 62.5%;
  height: 100%;
 
}

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "gothamMedium";
  src: url('./assets/fonts/GothamMediumRegular.ttf');
}
@font-face {
  font-family: "gothamLight";
  src: url('./assets/fonts/Gotham-XLight.otf');
}
h1{
  font-family: "gothamMedium";
  font-size: 15pt;
  text-align: center;
  color: #A91515;
}

h2{
  font-family: "gothamLight";
  font-size: 16pt;
  text-align: center;
  font-weight: lighter;

}
button{
  font-family: "gothamMedium";

}
p{
  font-family: "gothamLight";
  font-size: 10pt;
  text-align: center;
  font-weight: lighter;
}


@media (min-width: 768px){
  h1{
    font-size: 20pt;
  }
  h2{
    font-size: 18pt;
  }
}